.panel-body {
background-image: url("img/mariobg.png");
}
button {
	color: green;
}
body {
background-color: black;
}
#reset {
	float: right;
}
#mario {
	float: right;
}
.center {
text-align: center;
}