.panel-body {
background-image: url("img/mariobg.png");
}
button {
	color: green;
}
body {
background-color: black;
}
#reset {
	float: right;
}
#term {
	float: right;
	position: relative;
}
.center {
text-align: center;
}
.vader {
	background-image: url("img/vader.png")
}
#fire {
	float: right;
    	
}
#winner{
    text-align: center;
    font-size: 25px;
}
#init-fire2{
    margin-left: 270px;
    /*margin-left: auto;
    margin-right: auto;*/
}